@import '../../styles/contants.scss';

.wrapper {
    overflow: hidden;


    .container {
        position: relative;
        z-index: 1;

        .upperElements {
            @media (max-width: $sm) {
                justify-content: center;
                text-align: center;
                gap: 2rem;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .downloadButton {
                margin-top: 10px; 
            padding: 15px 20px;
            font-size: 18px;
            font-weight: bold;
            background-color: #000000; 
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        
            &:hover {
              background-color: #45a049; 
            }
              }
        }
        .hireButton {
            margin-top: 10px; 
            padding: 15px 20px;
            font-size: 18px;
            font-weight: bold;
            background-color: #000000; 
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        
            &:hover {
              background-color: #45a049; 
            }
          }

        .lowerElements {
            @media (max-width: $sm), (max-width: $md) {
                margin-top: 4rem;
                gap: 2rem;
                justify-content: center;
            }
            margin-top: 5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .experience {
                display: flex;
                align-items: center;
                gap: 1rem;
                >:nth-child(2) {
                    line-height: 35px;
                }
            }

            .certificate {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: bolder;

                span{
                    font-size: 20px ;
                }
                img {
                    margin-bottom: 1rem;
                    width: 3.5rem;
                }
            }
        }

        .person {
            @media (max-width: $sm ), (max-width: $md) {
                position: relative;
                left: 0;
                background-size: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: bottom;
            }
            position: absolute;
            bottom: -2rem;
            margin: auto;
            background-image: url("../splash.png");
            background-repeat: no-repeat;
            background-size: 23rem;
            left: 33%;

            img {
                @media (max-width: $sm ) {
                    width: 23rem;
                }
                margin-bottom: -5px;
            }
        }
    }
    @media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .right {
        .menu {
            flex-direction: row; /* Display menu items in a row on smaller screens */
            justify-content: center; /* Center the menu items */
            align-items: flex-start; /* Align menu items to the left */
        }
    }
}
