@import '../../styles/contants.scss';

// Footer.module.scss

.wrapper {
    background-color: #F8F7F1;
    color: $primary;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .left {
    flex: 1;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    .menu {
      list-style-type: none;
      padding: 10px;
      margin-top: 70px;
      display: flex;
  
      li {
        margin-right: 10px;
        cursor: pointer;

        &:nth-child(1) {
            svg {
              color: #004cef; // Facebook
            }
          }
    
          &:nth-child(2) {
            svg {
              color: #00acee; // Twitter
            }
          }
    
          &:nth-child(3) {
            svg {
              color: #e4405f; // Instagram
            }
          }
    
          &:nth-child(4) {
            svg {
              color: #0077b5; // LinkedIn
            }
          }
  
        svg {
          font-size: 49px;
        }
      }
    }
  }
  
  
  // Add any other styles as needed
  